* {
  display: flex;
  flex-direction: column;
  background-color: #f2f4f3;
}

title {
  display: flex;
  flex-direction: column;
  font-size: 30px;
  margin: 10px;
  font-weight: bold;
  margin-left: 220px;
  color: #684a52;
}

h2 {
  color: #553d36;
}

.main-section {
  box-sizing: border-box;
  margin: 5px;
  /* display: flex;
  flex-direction: column; */
  margin-left: 220px;
}

nav#navbar {
  height: 100%;
  width: 200px;
  position: fixed;
  float: left;
  z-index: 1;
  top: 0px;
  left: 0px;
  /* padding-top: 20px; */
  /* display: flex;
  flex-direction: column; */
  margin: 10px;
  background-color: #857885;
}

nav#navbar a {
  padding: 20px;
  text-decoration: none;
  font-size: 18px;
  display: block;
  text-decoration: none;
  color: white;
  background-color: #857885;
}
