* {
  display: flex;
  flex-direction: column;
}

title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  margin: 10px;
  font-weight: bold;
}

.main-section {
  box-sizing: border-box;
  margin: 5px;
  display: flex;
  flex-direction: column;
}

nav#navbar {
  height: 100%;
  width: 200px;
  /* position: fixed; */
  z-index: 1;
  top: 0px;
  left: 0px;
  padding-top: 20px;
  display: block;
  margin: 10px;
}

nav#navbar a {
  padding: 10px;
  text-decoration: none;
  font-size: 10px;
  display: block;
}
