.main-section {
  box-sizing: border-box;
  margin: 5px;
}

nav#navbar {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0px;
  left: 0px;
  padding-top: 20px;
}

nav#navbar a {
  padding: 10px;
  text-decoration: none;
  font-size: 10px;
  display: block;
}

@media only screen and (max-width: 600px) {
  /* Styles for screens with a maximum width of 600px */
}
